body {
  margin: 0%;
  padding: 0%;
}
.heading {
  position: relative;
  width: 100%;
  background-color: rgb(65, 63, 60);
  padding: 0.3em;
  color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
h1{
  margin-left: 15px;
  margin-top: 15px;
}

.nav-bar {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #333;
}

.nav-bar button,
a {
  text-decoration: none;
  /*background-color: rgb(65, 63, 60, 0);*/
  /*color: white;*/
  border: none;
  font-size: large;
  margin-right: 1%;
  appearance: none;
  padding: 1em;
}

.select-opt{
  color: #ffffff;
  background-color: #333;
  text-decoration: none;
  border: none;
  appearance: none;
  font-size: medium;
}

.navbar button,
select:hover {
  /*background-color: #0b090984;*/
  color: rgb(255, 255, 255);
  appearance: none;
}

.aniimage {
  width: 100%;
  background-image: url(Animation/ani1.jpg);
  background-attachment: fixed;
  animation-name: anime;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  border: 2px;
  background-color: aqua;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@media (max-width: 600px) {
  .aniimage {
    flex: 100%;
    max-width: 100%;
  }
}
select {
  margin-top: -10%;
  padding: 10px 10px 10px 0px;
}
@keyframes anime {
  25% {
    background-image: url(Animation/ani2.png);
  }
  50% {
    background-image: url(Animation/ani3.jpg);
  }
  75% {
    background-image: url(Animation/ani4.jpg);
  }
  100% {
    background-image: url(Animation/ani5.jpg);
  }
}

.covid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.covid div {
  display: flex;
  flex-direction: column;
  background-color: #cbcbf55f;
  margin: 20px 10px 10px 20px;
  font-size: 20px;
  padding: 10px;
  width: 15%;
  /* box-shadow: 5px 5px 5px #cbcbf55f; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

@media(max-width:800px){
  .covid div {
    flex: 50%;
    max-width: 50%;
    max-height: 50%;
  }
}

.covid div h5,h6{
  margin: 3px;  
}

.covid div h6{
  color: #418496;

}

.covid div button{
  padding: 3px;
  border-radius: 5px;
  border: 2px solid #418496;
  background-color: #deedf1;

  color: orange;
  font-weight: bold;
}

.covid div:hover {
  animation-name: cart;
  animation-duration: 4s;
  background-color: #ddd6a1;
  color: white;
}
@keyframes cart {
  0% {
    transform: translate(2%);
  }
}
.covid img {
  width: 100%;
  height: 70%;
}
.covid img:hover {
  margin: 0px;
  width: 100%;
  height: 70%;
}
.footer {
  /* background-color: rgb(65, 63, 60); */
  background-color: #333;
  padding: 0.3em;
  width: 100%;
  color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
